#blue-box {
  height: 50px;
  width: 50px;
  background-color: blue;
}

#alien-planet-container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 10px;
  flex-wrap: wrap;
}

.planet-cards {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 150px;
  gap: 5px;
  border-radius: 10px;
}
